<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.edu.cqcet.yd1701.team11.smallrooike">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.PERMISSIONS_STORAGE" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="false" /> <!-- <uses-feature android:name="android.hardware.camera" -->
    <!-- android:required="false" /> -->
    <uses-permission
        android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".AppData"
        android:icon="@drawable/desktop_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/desktop_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity android:name=".activity.PostTakeActivity"></activity>
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.MineItemActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.NavActivity" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.ChatActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7915e06b276a4ab54f9099654b6e1074" /> <!-- Google AdMob -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9731120967538789~4644655858" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="cn.edu.cqcet.yd1701.team11.smallrooike"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_files" />
        </provider>
    </application>

</manifest>